In [1]:
import pandas as pd

## Prestasi

In [9]:
smp_prestasi_hasil = pd.read_csv('datasets/prestasi/smp_prestasi_hasil.csv', index_col=[0])
smp_prestasi_hasil_asal = pd.read_csv('datasets/prestasi/asal/smp_prestasi_hasil_asal.csv', usecols=["Nama Siswa", "Asal Sekolah"])

In [11]:
smp_prestasi_asal = smp_prestasi_hasil.merge(smp_prestasi_hasil_asal, on="Nama Siswa", how='left')

In [15]:
smp_prestasi_asal.head()

,Nomor Pendaftaran,Nama Siswa,Jalur,Status,Sekolah Pilihan,Status Domisili,Jenis Kejuaraan,Nilai Total,Asal Sekolah
0,20220385030700033,Fergal Adika,Prestasi Akademik/Non Akademik,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,Basket,400.0,SDN SUKADAMAI 3
1,20220385030700023,TENGKU KHALIZA WARDHANI,Prestasi Akademik/Non Akademik,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,Basket,360.0,SD NEGERI POLISI 1
2,20220385030700002,CEVAN RIZQ,Prestasi Akademik/Non Akademik,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,Basket,360.0,SD NEGERI POLISI 4
3,20220385030700018,KEIKO ZAHRA AL HUSNA,Prestasi Akademik/Non Akademik,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,Basket,340.0,SD NEGERI POLISI 4
4,20220385030700015,RYUNOMIZAN ALTAF,Prestasi Akademik/Non Akademik,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,Basket,320.0,SDN SUKADAMAI 3

In [16]:
smp_prestasi_asal.to_csv('shiny-datasets/smp_prestasi_asal.csv')

# Rapor

In [17]:
smp_rapor_hasil = pd.read_csv('datasets/rapor/smp_rapor_hasil.csv', index_col=[0])
smp_rapor_hasil_asal = pd.read_csv('datasets/rapor/asal/smp_rapor_hasil_asal.csv', usecols=["Nama Siswa", "Asal Sekolah"])

In [20]:
smp_rapor_asal = smp_rapor_hasil.merge(smp_rapor_hasil_asal, on="Nama Siswa", how='left')
smp_rapor_asal.head()

,Nomor Pendaftaran,Nama Siswa,Jalur,Status,Sekolah Pilihan,Status Domisili,Nilai Total,Asal Sekolah
0,20220385030100104,NADINE SAKYA PRINERDY,Prestasi Rapor,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,198.07,SD PERTIWI
1,20220385030100107,Alifia Natika Budiawan,Prestasi Rapor,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,197.87,SD PERTIWI
2,20220385030100117,Sayyid Arsyad Edi Khumaini,Prestasi Rapor,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,197.83,SD PERTIWI
3,20220385030100102,SULTAN AL FARIZY,Prestasi Rapor,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,197.80,SD PERTIWI
4,20220385030100009,ABIMANYU RAYHAN LINTANG RAMADHAN,Prestasi Rapor,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,197.27,SD INSAN KAMIL

In [24]:
smp_rapor_asal.to_csv('shiny-datasets/smp_rapor_asal.csv')

# Zonasi